<% provide(:title, @user.name) %>
<div>
    <% flash.each do |key, value| %>
        <%=content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
</div>
<div class="row">
    <aside class="span4">
        <section>
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section>
            <%= render 'shared/stats' %>
        </section>
    </aside>

    <aside>
    <section>
    <dl>
        <dt>Name:</dt>        <dd><%= @trip.name %></dd>
        <dt>Description:</dt> <dd><%= @trip.description %></dd>
        <dt>Longitude:</dt>   <dd><%= "%.6f" % @trip.center.x %></dd>
        <dt>Latitude:</dt>    <dd><%= "%.6f" % @trip.center.y %></dd>
        <dt>Zoom level:</dt>  <dd><%= @trip.zoom %></dd>
    </dl>
    </section>
    </aside>


</div>
