<!DOCTYPE html>
<html>
<head>
  <title>Map Layout Test</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://maggie.waterpathcanoe.lan/javascript/OpenLayers-2.12/OpenLayers.js"></script>
  <script type="text/javascript" src="http://maggie.waterpathcanoe.lan/javascript/proj4js/lib/proj4js-compressed.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="app">
    <div id="header">header</div>
    <div id="content">
        <div id="middle-container">
            <div id="right-column">Right Column</div>
            <div id="map-container"><%= yield %></div>
        </div>
    </div>
    <div id="footer">footer</div>
</body>
</html>
