<!DOCTYPE html>
<html>
<head>
  <title>Olapp</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="app">
    <%= render 'layouts/header' %>

    <div id="wrapper">
        <div id="content_wrapper">
            <div id="content_inner_wrapper">
                <%= yield %>
            </div>
        </div>
    </div>
    <div id="footer_wrapper">
        <div id="footer_inner_wrapper">
            <div id="my-footer-content">
                <%= render 'layouts/footer' %>
                <!-- <%= debug(params) if Rails.env.development? %> -->
            </div>
        </div>
    </div>
</body>
</html>
